body {
    margin: 0;
    min-height: 100vh;
    background-color: #444;
}

.main {
    display: grid;
    grid-template: 100vh / 1fr 3fr;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.sidebar {
    height: 100vh;
    max-height: 100vh;
    background-color: #222222;
    padding: 20px;
}

.content {
    max-height: 100vh;
    overflow: scroll;
}

#library {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.book-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    filter: drop-shadow(1px 2px 2px #000000);
    background-blend-mode: overlay;
    overflow: hidden;
}



.book-card h3::before, .book-card span::before, .book-card .readstatus-toggle::before {
    display: block;
    font-size: 13px;
    color: #333333;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px;
}

.book-card span {
    display: block;
    margin-bottom: 10px;
}

.book-card h3::before {
    content: 'Written by:';

}

.book-card > span:first-of-type::before {
    content: 'Published in:';
}

.book-card > span:last-of-type::before {
    content: 'Pages:';
}

.book-card button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    color: #555;
    aspect-ratio: 1;
    filter: drop-shadow(1px 1px 1px #333333);
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-book-form {
    padding: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid #777777;
}

#add-book-form label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 12px;
}

#add-book-form input {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #171717;
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px;
    display: block;
    padding: 10px 15px;
}

.card-read-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.readstatus-toggle {
    background: #202020;
    display: block;
    margin: 0 -20px -20px -20px;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.book-card .readstatus-toggle::before {
    content: 'Finished book?';
    color: #ffffff;
    font-size: 15px;
}

.readstatus-toggle input {
    position: absolute;
}

.readstatus-toggle span {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-color: #777777;
    border-radius: 20px;
    border: 1px solid #555555;
    transition: 0.4s;
}

.readstatus-toggle span::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: 0.4s;
}

.readstatus-toggle input:checked + span::before {
    transform:translateX(20px);
}

.readstatus-toggle input:checked + span {
    background-color: #16a676;
}