body {
    margin: 0;
    min-height: 100vh;
    background-color: #333;
}

#library {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.book-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    filter: drop-shadow(1px 2px 2px #000000);
    background-blend-mode: overlay;
}



.book-card h3::before, .book-card span::before {
    display: block;
    font-size: 13px;
    color: #333333;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px;
}

.book-card span {
    display: block;
    margin-bottom: 10px;
}

.book-card h3::before {
    content: 'Written by:';

}

.book-card span:first-of-type::before {
    content: 'Published in:';
}

.book-card span:last-of-type::before {
    content: 'Pages:';
}

.book-card button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    color: #555;
    aspect-ratio: 1;
    filter: drop-shadow(1px 1px 1px #333333);
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}